body {
			background: #eae8e7;
			color: #767270;
			padding: 1%;
			font-size: 14px;
			font-family: verdana, sans-serif;

		}
		
		.sidebar {
			width:30%;
			display: inline-block;
			margin-left: 10%;
			background: #5da4d9;
			color: white;
		}

		img {
			width: 100%;
		}

		.sidebar-top { position: relative; }

		.profile-basic {
			position: absolute;
			bottom: 0px;
			left: 50px;
		}

		.profile-info {
			font-family: 'PT Sans', sans-serif;
			padding: 20px 10px;
			border-bottom: 1px solid #4783c2;
		}

		 .profile-info p{
			margin-left: 10px;
			display: inline-block;
			vertical-align: top;
		}

		.profile-info .social-media
		{
			letter-spacing: 30px;
		}

		.profile-info .key{
			font-weight: bold;	
		}

		.profile-info .value{
		}

		.social-media:hover{
			cursor: pointer;
			color: white;
		}

		.content {
			width: 48%;
			margin-left: 2%;
			display: inline-block;
			vertical-align: top;
		}
		.name
		{
			color: #1B2631	;
		}
		.designation
		{
			color: #1B2631;
		}
		.work-experience, .education 
		{
			font-family: 'Bungee Shade', cursive;
			font-size: 200%
		 	margin-bottom: 30px;
			padding: 5% 2% 5% 10%;
			background: white;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		}

		.info 
		{
			font-family: 'Droid Serif', serif;
			font-size: 100%
			padding: 2% 1%;
			border-bottom: 1px solid #bdbdbd;
		}
    
		
		.sub-heading 
		{ 
			font-family: 'Baloo Bhaina', cursive;
      		font-weight: bold;       
    	}	

		.duration 
		{
			font-family: 'Audiowide', cursive;
			color: #5da4d9;
			font-size:15px;
		}	